.job-item-bg {
  background-color: #121212;
  padding: 20px;
  color: white;
}
.job-item-container {
  background-color: #2c364c;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}
.similar-job-li {
  width: 30%;
}
.profile-failure-bg {
  background-color: #6366f1;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 250px;
  height: 60px;
}
