.header-bg {
  background-color: #272727;
  padding: 0px;
}
.btn-blue {
  font-weight: bold;
  background-color: #6366f1;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  margin: 15px;
  border-width: 0px;
}
