.login-bg {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  height: 100vh;
  width: 100vw;
}
form {
  background-color: #2c364c;
  height: 50%;
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
form label {
  color: #ffffff;
  padding: 5px;
}
form input {
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid #64748b;
  border-radius: 5px;
}
img {
  align-self: center;
  margin: 50px;
}
form button {
  font-weight: bold;
  background-color: #6366f1;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  margin: 15px;
  border-width: 0px;
}
.error-message {
  color: red;
  font-size: 14px;
}
